%p#notice= notice

.container
  .row
    %div{class: left_box_class}
      .photo
        %img{src: @photo.media_url}
    %div{class: right_box_class}
      %div
        %img{src: @user.profile_image_url}
        = link_to "@#{@user.screen_name}", "https://twitter.com/#{@user.screen_name}"
        &nbsp;
        = "#{@user.name}"
      %div
        = auto_link(@tweet.text).html_safe
      %div
        = link_to time_ago_in_words(@tweet.created_at), "https://twitter.com/#{@user.screen_name}/status/#{@tweet.id}"
      .row(style="font-size: 10px;")
        .col-sm-2
          RETWEETS<br>
          = "<span style='font-size: 18px;'>#{@tweet.retweet_count}</span>".html_safe
        .col-sm-2
          FAVORITES<br>
          = "<span style='font-size: 18px;'>#{@tweet.favorite_count}</span>".html_safe
        .col-sm-8
      %hr
      %div
        = button_to "Search @#{@user.screen_name}", search_path(screen_name: @user.screen_name), class: 'btn btn-default'
      %div
        - if @tweet.hashtags?
          - @tweet.hashtags.each do |hashtag|
            = button_to "Search ##{hashtag.text}", search_path(hashtag: hashtag.text), class: 'btn btn-default'
